/* File: style.css */
body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.box {
    width: 520px;
    margin: 30px auto;
    padding: 20px;
    border: 4px solid #003366;
    background-color: white;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}
